:3013 {
	@app-entrypoint host hub.developerasun.dpdns.org
	@app-kiwiwi host kiwiwi.developerasun.dpdns.org
	@app-botbot host botbot.developerasun.dpdns.org
	@app-minlink host minlink.developerasun.dpdns.org
	@app-hexbook host hexbook.developerasun.dpdns.org
	@app-ricktcal-worldcup host ricktcal-worldcup.developerasun.dpdns.org
	@app-meowrun host meowrun.developerasun.dpdns.org
	@app-owlly host owlly.developerasun.dpdns.org

	handle @app-entrypoint {
		root * /data

		handle / {
			try_files /domains.json
			file_server
		}
		handle {
			respond 403
		}
	}
	handle @app-kiwiwi {
		redir https://github.com/developerasun/kiwiwi{uri} permanent
	}
	handle @app-botbot {
		redir https://github.com/developerasun/botbot{uri} permanent
	}
	handle @app-minlink {
		reverse_proxy hub_minlink:3015
	}
	handle @app-hexbook {
		reverse_proxy hub_hexbook:3016
	}
	handle @app-ricktcal-worldcup {
		redir http://worldcup.developerasun.dpdns.org{uri} permanent
	}
	handle @app-owlly {
		redir https://github.com/developerasun/owlly{uri} permanent
	}
	handle @app-meowrun {
		redir https://github.com/developerasun/MeowRun{uri} permanent
	}
}
